.service{
    min-height: 100vh;
    text-align: center;
background: rgb(111,111,167);
background: linear-gradient(90deg, rgba(111,111,167,1) 0%, rgba(5,0,36,1) 47%, rgba(0,212,255,1) 100%);
    text-decoration-color: white;
}

.service .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.service .box-container .box{
    height:23rem;
    width:35rem;
    margin:1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.service .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;

}

.service .box-container .box .info{
    height:90%;
    width:90%;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%) scale(0);
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
background: rgb(111,111,167);
background: linear-gradient(90deg, rgba(111,111,167,1) 0%, rgba(5,0,36,1) 47%, rgba(0,212,255,1) 100%);
}

.service .box-container .box:hover .info{
    transform: translate(-50%, -50%) scale(1);
    scroll-behavior: smooth;
}

.service .box-container .box .info h3{
    font-size: 2.5rem;
    color:#333;
    scroll-behavior: smooth;
}

.service .box-container .box .info p{
    font-size: 1.2rem;
 background: rgb(131,58,180);
 background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 88%, rgba(252,176,69,1) 100%);
    padding:1rem 2rem;
    scroll-behavior: smooth;
}
body{
   background: rgb(111,111,167);
   background: linear-gradient(90deg, rgba(111,111,167,1) 0%, rgba(5,0,36,1) 47%, rgba(0,212,255,1) 100%);
}

p{
    color: white;
}